{% extends 'base.html' %}
{% block titulo %}
HomeFilmes HasheFlix
{% endblock %}
{% load static %}

{% block content %}
<div class="py-32">
    <h1>Essa é a nossa HomeFilmes!</h1>
    {% for filme in object_list %} 
        <hr>
        <a href="{% url 'filme:detalhesfilme' filme.id %}"><p>{{ filme }}</p></a>
        <p>{{ filme.descrição }}</p>
        <img src="{{filme.thumb.url}}" alt="" width= "200" height = 100/>>
    {% endfor %}
</div>
<div class="py-10">
    <h2>Novo</h2>
    {{lista_filmes_recentes}}
</div>
<div class="py-10">
    <h2>Em Alta</h2>
    {{lista_filmes_emalta}}
</div>
{% endblock %}