{% extends 'base.html' %}
{% block titulo %}
HomeSeries HasheFlix
{% endblock %}
{% load static %}

{% block content %}

<div class="py-32">
    <h1>Essa é a nossa HomeSéries!</h1>
    {% for seriado in object_list %} 
        <hr>
        <a href="{% url 'filme:detalhesserie' seriado.id %"><p>{{ seriado }}</p></a>
        <p>{{ seriado.descrição }}</p>
        <img src="{{seriado.thumb.url}}" alt="" width= "200" height = 100/>>
    {% endfor %}
</div>

<footer class="px-5 py-10">
    <ul class="flex justify-between items-center">
        <li>2023</li>
        <li>Feito com Python (Django)</li>
        <li>by LRCORP</li>
    </ul>
</footer>
{% endblock %} 